{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'softwares/css/softwares.css' %}">
{% endblock %}

{% block content %}
  <main class="softwares-container">
    <h1 class="page-title">Softwares</h1>
    <a href="ipsas-game.html" class="software-item">
      <img src="assets/images/imgTeste1.jpg" alt="IPSAS GAME">
      <div class="software-info">
        <h2>IPSAS GAME</h2>
        <p>Jogo de treinamento baseado em quiz que emite certificado e apresenta questões de contabilidade.</p>
      </div>
    </a>
    <a href="ipsas-game.html" class="software-item">
      <img src="assets/images/imgTeste1.jpg" alt="IPSAS GAME">
      <div class="software-info">
        <h2>IPSAS GAME</h2>
        <p>Jogo de treinamento baseado em quiz que emite certificado e apresenta questões de contabilidade.</p>
      </div>
    </a>
    <a href="ipsas-game.html" class="software-item">
      <img src="assets/images/imgTeste1.jpg" alt="IPSAS GAME">
      <div class="software-info">
        <h2>IPSAS GAME</h2>
        <p>Jogo de treinamento baseado em quiz que emite certificado e apresenta questões de contabilidade.</p>
      </div>
    </a>
    <a href="ipsas-game.html" class="software-item">
      <img src="assets/images/imgTeste1.jpg" alt="IPSAS GAME">
      <div class="software-info">
        <h2>IPSAS GAME</h2>
        <p>Jogo de treinamento baseado em quiz que emite certificado e apresenta questões de contabilidade.</p>
      </div>
    </a>
  </main>
{% endblock %}