/* PATENTES */

.patent-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.patent-item {
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
  color: inherit;
}

.patent-item img {
  width: 180px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}

.patent-info {
  flex: 1;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 5px;
}

.tags {
    font-size: 13px;
    color: #888;
    background-color: #f0f0f0;
    padding: 3px 8px;
    border-radius: 4px;
}

.patent-title {
  font-size: 18px;
  font-weight: bold;
  color: #054911;
  margin: 0;
}

.patent-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background: #fafafa;
}

.patent-item:hover .patent-title {
  color: #168229;
}