{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'administrador/css/admin.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

{% endblock %}

{% block content %}
<div class="container">
  {% include 'sidebar_admin.html' %}
  <div class="content">
    <h2 class="admin-h2">Cadastrar Novo Campus</h2>
    <div class="admin-content-wrapper">
      <section id="cadastrar-categoria-section">
        <div class="admin-form-section">
          <form method="POST" action="{% url 'cadastrar_campus' %}">
            {% csrf_token %}
            <div class="admin-form-group">
              <label for="campus-nome">Nome do Campus</label>
              <input type="text" id="campus-nome" name="campus_nome" placeholder="Digite o nome do campus" class="admin-input" required>
            </div>
            <button type="submit" class="admin-button">Cadastrar Campus</button>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'administrador/js/admin.js' %}"></script>
{% endblock %}