.admin-main-container {
    display: flex;
    gap: 30px;
    padding: 20px;
    max-width: 100%;
    margin: auto;
    background-color: #f5f5f5;
    align-items: flex-start;
}

.admin-content-wrapper {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    min-height: 463px;
}

.admin-content-wrapper p {
    margin: 15px 0 0 0;
    font-size: 16px;
    color: #2b2b2bbe;
}

.admin-content-wrapper p span {
    font-weight: bold;
    color: #444;
}

.admin-h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #444;
}



/* MODAIS */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    width: 80%;
    max-width: 500px;
    position: relative;
    animation: fadeIn 0.5s;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button:hover,
.close-button:focus {
    color: #333;
    text-decoration: none;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.category-main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}







@keyframes fadeIn {
    from { opacity: 0; transform: translateX(20px); }
    to { opacity: 1; transform: translateX(0); }
}
#campo-busca{
    width: 40%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    outline: none;
}


/* ANIMAÇÕES */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
