services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_ROOT_HOST: '%'
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - vitrine-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${DB_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: vitrine_web
    image: vitrineifpb-web
    env_file:
      - .env
    environment:
      - DATABASE_URL=mysql://django_user:${DB_PASSWORD}@mysql:3306/vitrineifpb
      - DB_HOST=${DB_HOST}
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - vitrine-network

  nginx:
    build: ./nginx
    container_name: vitrine_nginx
    image: vitrineifpb-nginx
    ports:
      - "80:80"
    volumes:
      - ./VitrineIFPB/staticfiles:/app/VitrineIFPB/staticfiles
      - ./VitrineIFPB/media:/app/VitrineIFPB/media
    depends_on:
      - web
    networks:
      - vitrine-network

volumes:
  mysql_data:
  static_volume:
  media_volume:

networks:
  vitrine-network:
    driver: bridge