.cabecalho-editar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.excluirProjetoBtn{
  margin-top: 50px;
}

.edit-h2{
  font-size: 50px;
  color: #b8860b;
  margin-top: 35px;
  margin-bottom: 20px;
}

.projeto-imagem-edit {
  margin-top: 10px;
}

.projeto-imagem-edit img {
  width: 260px;
  height: 240px;
  border-radius: 10px;
  object-fit: cover;
}
.projeto-imagem-edit img:hover {
  cursor: pointer;
  filter: brightness(0.6);
}


.row-6 {
  display: flex;
  flex-direction: row;
  gap: 4%;
}
.row-6 > .form-group{
  width: 48%;
}
.form-group-img{
  width: 100%;
  gap: 4%;

}
.form-group, .form-group-img{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#multiStepForm{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.projeto-input {
  margin-top: 10px;
  padding: 11px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-overflow: ellipsis;
}

.custom-input {
  background: none;
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #6b6b6b;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  height: 39px;
  justify-content: space-between;
  align-items: center;
}

.custom-input img {
  width: 20px;
  height: 20px;
}


.projeto-arquivo {
  display: none;
}

.modal-categorias{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 355px;
  width: 389px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  gap: 8px;
}

.modal-categorias label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.projeto-checkbox {
  width: 15px;
  height: 15px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.projeto-categorias-edit{
  display: none;
}

.tab {
  display: none;
  animation: fadeIn 0.5s ease;
}

.tab.active {
  display: block;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(20px); }
  to { opacity: 1; transform: translateX(0); }
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

#nextBtn, #submitBtn {
  margin-left: auto;
}

