
.status{
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
}
.concluido{background-color: #33cc14b0;}
.em-andamento{background-color: #ffc107ab;}
.parado{background-color: #d61427c0;}

.admin-content-wrapper {
  min-height: 580px;
}