.admin-table-section {
  margin-top: 20px;
}

.admin-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 10px;
}

.section-table{
  width: 100%;
  max-height: 380px;
  overflow-y: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
  scroll-behavior: smooth;
}

.section-table::-webkit-scrollbar {
  width: 0.4rem;
}
.section-table::-webkit-scrollbar-track {
  background: #00000000;
}
.section-table::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 2rem;
}


.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th, .admin-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 15px;
}

.admin-table th {
  position: sticky;
  top: -5px;
  z-index: 10;
  padding: 10px 12px;
  background: #f1f1f1;
}

.admin-actions button {
  width: auto;
  margin-right: 5px;
  padding: 6px 12px;
  font-size: 14px;
}

.admin-table-section .admin-button {
  margin-top: 20px;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.status{
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
}
.concluido{background-color: #33cc14b0;}
.em-andamento{background-color: #ffc107ab;}
.parado{background-color: #d61427c0;}

.botao-editar{
  background-color: #6562ff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
