{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'administrador/css/admin.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'projeto/css/cadastrar_projeto.css' %}">

{% endblock %}
{% block content %}
<div class="container">
  {% include 'sidebar_admin.html' %}
  <div class="content">
    <h2 class="admin-h2">Cadastrar Novo Projeto</h2>
    <div class="admin-content-wrapper">
      <form id="multiStepForm" action="{% url 'cadastrar_projeto' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Aba 1 -->
        <div class="tab active" id="tab1">
          <div class="row-6">
            <div class="form-group">
                <label for="projeto_imagem">Imagem</label>
                <label for="projeto_imagem" class="custom-file-upload projeto_imagem">
                  Selecionar Imagem
                  <img src="{% static 'projeto/img/upload.png' %}" alt="">
                </label>
                <input type="hidden" id="caminho_icone" value="{% static 'projeto/img/upload.png' %}">
                <input type="file" onchange="atualizarLabel(this)" id="projeto_imagem" class="projeto-arquivo" name="projeto_imagem" accept="image/*" required>
            </div>
            <div class="form-group">
                <label for="projeto_titulo">Titulo</label>
                <input type="text" id="titulo" name="projeto_titulo" class="projeto-input" placeholder="Digite o título do projeto" required>
            </div>
          </div>
          <div class="form-group">
            <label for="projeto_descricao">Descrição</label>
            <textarea rows="3" placeholder="Adicione uma descrição do projeto" name="projeto_descricao" class="projeto-input"></textarea>
          </div>
          <div class="form-group">
            <label for="projeto_servidor">Servidor Solicitante</label>
            <input type="text" id="projeto_servidor" name="projeto_servidor" class="projeto-input" placeholder="Digite o nome do servidor solicitante" required>
          </div>
          <div class="row-6">
            <div class="form-group">
              <label for="projeto_campus">Campus</label>
              <select class="projeto-input" name="projeto_campus" id="projeto_campus" required>
                {% for campus in campus %}
                  <option value="{{ campus.id }}">{{ campus.nome }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="projeto_ano">Ano de Depósito</label>
              <input type="number" id="projeto_ano" name="projeto_ano" class="projeto-input" placeholder="Digite o ano de depósito" required>
            </div>
          </div>
        </div>

        <!-- Aba 2 -->
        <div class="tab" id="tab2">
          <div class="row-6">
            <div class="form-group">
              <label for="projeto_categoria">Categoria</label>
              <select class="projeto-input" name="projeto_categoria" id="projeto_categoria" required>
                {% for categoria in categorias %}
                  <option value="{{ categoria }}">{{ categoria }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="projeto_setor">Setor</label>
              <input type="text" id="projeto_setor" name="projeto_setor" class="projeto-input" placeholder="Digite o setor do projeto" required>
            </div>
          </div>
          <div class="form-group">
            <label for="projeto_link">Link do projeto no SUAP</label>
            <input type="text" id="projeto_link" name="projeto_link" class="projeto-input" placeholder="Digite o link do projeto no SUAP" required>
          </div>
          <div class="row-6">
            <div class="form-group">
              <label for="projeto_status">Status</label>
              <select class="projeto-input" name="projeto_status" id="projeto_status" required>
                {% for status in projeto_status %}
                  <option value="{{ status }}">{{ status }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="projeto_certificado">Certificado</label>
              <label for="projeto_certificado" class="custom-file-upload projeto_certificado">
                Selecionar Certificado
                <img src="{% static 'projeto/img/upload.png' %}" alt="">
              </label>
              <input type="hidden" id="caminho_icone" value="{% static 'projeto/img/upload.png' %}">
              <input type="file" onchange="atualizarLabel(this)" id="projeto_certificado" class="projeto-arquivo" name="projeto_certificado" required>
            </div>
          </div>
          <div class="form-group">
            <label for="projeto_observacoes">Observações</label>
            <textarea rows="3" placeholder="Adicione observações sobre o projeto" name="projeto_observacoes" class="projeto-input"></textarea>

          </div>
        </div>
        <!-- Botões de Navegação -->
        <div class="navigation-buttons">
            <button type="button" id="prevBtn">Voltar</button>
            <button type="button" id="nextBtn">Próximo</button>
            <button type="submit" id="submitBtn" style="display: none;">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'projeto/js/cadastrar_projeto.js' %}"></script>
{% endblock %}