{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'administrador/css/admin.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'projeto/css/editar_projeto.css' %}">

{% endblock %}
{% block content %}
<div class="container">
  {% include 'sidebar_admin.html' %}
  <div class="content">
    <div class="cabecalho-editar">
      <h3 class="edit-h2">Editar projeto: {{ projeto.titulo }}</h3>
      <a method="POST" href="{% url 'excluir_projeto' projeto.id %}" class="delete-button">Excluir</a>
    </div>
    <div class="admin-content-wrapper">
      <form id="multiStepForm" action="{% url 'editar_projeto' projeto.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Aba 1 -->
        <div class="tab active" id="tab1">
          <div class="row-6">
            <div>
                <label for="projeto_imagem">
                  Imagem do projeto
                  <figure for="projeto_imagem" class="projeto-imagem-edit">
                    <img id="projeto_imagem_edit" src="{{ projeto.imagem.url }}" alt="Imagem do projeto {{ projeto.titulo }}">
                  </figure>
                </label>
                <input type="hidden" id="caminho_icone" value="{% static 'projeto/img/upload.png' %}">
                <input type="file" onchange="atualizarImagemPreview(this)" id="projeto_imagem" class="projeto-arquivo" name="projeto_imagem" accept="image/*">
            </div>
            <div class="form-group-img">
              <div class="form-group">
                <label for="projeto_titulo">Titulo</label>
                <input type="text" id="titulo" name="projeto_titulo" class="projeto-input" placeholder="Digite o titulo do projeto" value="{{ projeto.titulo }}">
              </div>
              <div class="form-group">
                <label for="projeto_servidor">Servidor Solicitante</label>
                <input type="text" id="projeto_servidor" name="projeto_servidor" class="projeto-input" placeholder="Digite o servidor solicitante" value="{{ projeto.servidor_solicitante }}">
              </div>
              <div class="form-group">
                <label for="projeto_descricao">Descrição</label>
                <textarea rows="3" placeholder="Digite a descrição do projeto" name="projeto_descricao" class="projeto-input">{{ projeto.descricao }}</textarea>
              </div>
            </div>
          </div>
          <div class="row-6">
            <div class="form-group">
              <label for="projeto_campus">Campus</label>
              <select class="projeto-input" name="projeto_campus" id="projeto_campus">
                {% for campus in campus %}
                  <option value="{{ campus.id }}">{{ campus.nome }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
                <label for="projeto_ano">Ano de Depósito</label>
                <input type="number" id="projeto_ano" name="projeto_ano" class="projeto-input" placeholder="Digite o ano de depósito" value="{{ projeto.ano_deposito }}">
              </div>
          </div>
        </div>

        <!-- Aba 2 -->
        <div class="tab" id="tab2">
          <div class="row-6">
            <div class="form-group">
              <label for="projeto_categorias">Categoria</label>
              <input type="hidden" id="caminho_icone_seta" value="{% static 'projeto/img/seta-baixo.png' %}">
              <button type="button" id="abrir-modal-categorias" class="custom-input">Selecione as categorias que o projeto se encaixa<img src="{% static 'projeto/img/seta-baixo.png' %}" alt=""></button>
            </div>
            <div class="modal-categorias">
              {% for categoria in categorias %}
                <label for="{{ categoria.nome }}">
                  <input type="checkbox" value="{{ categoria.id }}" id="{{ categoria.nome }}" name="projeto_categorias" class="projeto-checkbox">
                  {{ categoria }}
                </label>
              {% endfor %}
            </div>
            <div class="form-group">
              <label for="projeto_setor">Setor</label>
              <input type="text" id="projeto_setor" name="projeto_setor" class="projeto-input" placeholder="Digite o setor" value="{{ projeto.setor_lotacao }}">
            </div>
          </div>
          <div class="form-group">
            <label for="projeto_link">Link do projeto no SUAP</label>
            <input type="text" id="projeto_link" name="projeto_link" class="projeto-input" placeholder="Digite o link do projeto" value="{{ projeto.link }}">
          </div>
          <div class="row-6">
            <div class="form-group">
              <label for="projeto_status">Status</label>
              <select class="projeto-input" name="projeto_status" id="projeto_status">
                <option value="{{ projeto.status }}">{{ projeto.status }}</option>
                {% for status in projeto_status %}
                  {% if status != projeto.status %}
                    <option value="{{ status }}">{{ status }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="projeto_certificado">Certificado</label>
              <label for="projeto_certificado" class="custom-input projeto_certificado">
                Selecionar Certificado
                <img src="{% static 'projeto/img/upload.png' %}" alt="">
              </label>
              <input type="hidden" id="caminho_icone" value="{% static 'projeto/img/upload.png' %}">
              <input type="hidden" id="nome_certificado" name="projeto_certificado" value="{{ projeto.certificado.url }}">
              <input type="file" onchange="atualizarLabel(this)" id="projeto_certificado" class="projeto-arquivo" name="projeto_certificado" value="{{ projeto.certificado.url }}">
            </div>
          </div>
          <div class="form-group">
            <label for="projeto_observacoes">Observações</label>
            <textarea rows="3" placeholder="Adicione observações sobre o projeto" name="projeto_observacoes" class="projeto-input">{{ projeto.observacoes }}</textarea>
          </div>
        </div>
        {% for categoria in projeto.categorias.all %}
          <input class="projeto-categorias-edit" type="checkbox" name="projeto_categorias" id="categoria_{{ categoria.id }}" value="{{ categoria.nome }}" class="projeto-checkbox">
        {% endfor %}
        <!-- Botões de Navegação -->
        <div class="navigation-buttons">
            <button type="button" id="prevBtn">Voltar</button>
            <button type="button" id="nextBtn">Próximo</button>
            <button type="submit" id="submitBtn" style="display: none;">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'projeto/js/cadastrar_projeto.js' %}"></script>
<script src="{% static 'projeto/js/editar_projeto.js' %}"></script>

{% endblock %}