{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'administrador/css/admin.css' %}">
<link rel="stylesheet" href="{% static 'projeto/css/projetos.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% include 'sidebar_admin.html' %}
  <div class="content">
    <h2 class="admin-h2">Projetos Cadastrados</h2>
    <div class="admin-content-wrapper">
      <form action="{% url 'buscar_projetos' %}" method="GET">
        {% csrf_token %}
        <input type="hidden" id="url-busca" value="{% url 'buscar_projetos' %}">
        <input type="text" placeholder="Pesquisar projetos:" id="campo-busca">
      </form>
      <div class="section-table">
        <table class="admin-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Título</th>
              <th>Setor de Lotação</th>
              <th>Ano do depósito</th>
              <th>Status</th>
              <th>Link</th>
              <th>Observações de Tramitação</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody id="corpo-tabela" data-edit-icon="{% static 'administrador/icons/edit.png' %}" data-delete-icon="{% static 'administrador/icons/delete.png' %}">
            {% for projeto in projetos %}
            <tr>
              <td data-label="Id">{{ projeto.id }}</td>
              <td data-label="Título">{{ projeto.titulo }}</td>
              <td data-label="Setor de Lotação">{{ projeto.setor_lotacao }}</td>
              <td data-label="Ano do depósito">{{ projeto.ano_deposito }}</td>
              <td data-label="Status">
                <span {% if projeto.status == 'Concluído' %}class="status concluido"{% elif projeto.status == 'Em Andamento' %}class="status em-andamento"{% elif projeto.status == 'Parado' %}class="status parado"{% endif %}>
                  {{ projeto.status }}
                </span>
                </td>
              <td data-label="Link"><a href="{{ projeto.link }}">{{ projeto.link }}</a></td>
              <td data-label="Observações de Tramitação">{{ projeto.observacoes }}</td>
              <td data-label="Ações" class="admin-actions"><a href="{% url 'editar_projeto' projeto.id %}" class="botao-editar">Editar</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <p>Total de projetos cadastrados: <span>{{ Projeto.quantidade_projetos }}</span></p>
      <p>Total de projetos concluidos: <span>{{ Projeto.get_projetos_concluidos }}</span></p>
      <p>Total de projetos em andamento: <span>{{ Projeto.get_projetos_em_andamento }}</span></p>
      <p>Total de projetos parados: <span>{{ Projeto.get_projetos_parados }}</span></p>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/pesquisa.js' %}"></script>
  <script src="{% static 'administrador/js/admin.js' %}"></script>
  <script src="{% static 'administrador/js/projetos.js' %}"></script>
{% endblock %}
