{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'administrador/css/admin.css' %}">
{% endblock %}

{% block content %}
<main class="admin-main-container">
  {% include 'sidebar_admin.html' %}
  <div class="admin-content-wrapper">
    <section id="cadastrar-categoria-section">
      <h2 class="admin-h2">Cadastrar Nova Categoria</h2>
      <div class="admin-form-section">
        <form method="POST" action="{% url 'cadastrar_categoria' %}">
          {% csrf_token %}
          <div class="admin-form-group">
            <label for="categoria-nome">Nome da Categoria</label>
            <input type="text" id="categoria-nome" name="categoria_nome" placeholder="Digite o nome da categoria" class="admin-input">
          </div>
          <div class="admin-form-group">
            <label for="categoria_descricao">Descrição da Categoria</label>
            <textarea id="categoria_descricao" name="categoria_descricao" placeholder="Digite a descrição da categoria"
              class="admin-input"></textarea>
          </div>
          <button type="submit" class="admin-button">Cadastrar Categoria</button>
        </form>
      </div>
    </section>
  </div>
</main>
{% endblock %}
{% block script %}
<script src="{% static 'administrador/js/admin.js' %}"></script>
{% endblock %}