{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'administrador/css/admin.css' %}">
{% endblock %}

{% block content %}
<main class="admin-main-container">
  {% include 'sidebar_admin.html' %}
  <div class="admin-content-wrapper">

    <section id="categorias-section">
      <h2 class="admin-h2">Categorias Cadastradas</h2>
      <div class="admin-table-section">
        <table class="admin-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Categoria</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for categoria in categorias %}
            <tr>
              <td data-label="id">{{ categoria.id }}</td>
              <td data-label="nome">{{ categoria.nome }}</td>
              <td data-label="Ações" class="admin-actions">
                <button class="admin-actions-button"
                  onclick="openEditModalCategoria('{{ categoria.id }}', '{{ categoria.nome }}', '{{ categoria.descricao }}')">Editar</button>
                <button class="admin-actions-button"
                  onclick="openDeleteModalCategoria('{{ categoria.id }}', '{{ categoria.nome }}')">Excluir</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>

<!-- MODAL DE EDIÇÃO DE CATEGORIAS -->
<div id="modal_edit_categoria" class="modal">
  <div class="modal-content">
    <span class="close-button" onclick="closeModal('modal_edit_categoria')">&times;</span>
    <h2>Editar Categoria</h2>
    <form method="POST" action="{% url 'editar_categoria' %}">
      {% csrf_token %}
      <input type="hidden" id="categoria_id_edit" name="categoria_id" value="">
      <div class="modal-form-group">
        <label for="categoria_nome_edit">Nome da Categoria</label>
        <input type="text" id="categoria_nome_edit" name="categoria_nome" class="admin-input">
      </div>
      <div class="modal-form-group">
        <label for="categoria_descricao_edit">Descrição da categoria</label>
        <textarea id="categoria_descricao_edit" name="categoria_descricao" class="admin-input"></textarea>
      </div>
      <div class="modal-actions">
        <button type="submit" class="admin-button">Salvar alterações</button>
        <button type="button" class="admin-button delete-button"
          onclick="closeModal('modal_edit_categoria')">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<!-- MODAL DE EXCLUSÃO DE CATEGORIAS -->
<div id="modal_delete_categoria" class="modal">
  <div class="modal-content">
    <span class="close-button" onclick="closeModal('modal_delete_categoria')">&times;</span>
    <h2>Confirmar Exclusão</h2>
    <p id="delete_message_categoria"></p>
    <form method="POST" action="{% url 'excluir_categoria' %}">
      {% csrf_token %}
      <input id="categoria_id_delete" name="categoria_id" type="hidden" value="">
      <div class="modal-actions">
        <button type="submit" class="admin-button delete-button">Excluir</button>
        <button type="button" class="admin-button" onclick="closeModal('modal_delete_categoria')">Cancelar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'administrador/js/admin.js' %}"></script>
<script src="{% static 'administrador/js/modal_categorias.js' %}"></script>
{% endblock %}