{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'administrador/css/admin.css' %}">
{% endblock %}

{% block content %}
<!-- Container principal -->
<main class="admin-main">
  {% include 'sidebar_admin.html' %}
  <div class="admin-tab-menu">
    <button class="admin-tab-button active" onclick="openTab(event, 'projetos')">Projetos</button>
    <button class="admin-tab-button" onclick="openTab(event, 'categorias')">Categorias</button>
  </div>

  <div id="projetos" class="admin-tab-content active">
    <div class="admin-form-section">
      <h2 class="admin-h2">Cadastrar Novo Projeto</h2>
      <form action="{% url 'cadastrar_projeto' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="admin-form-group">
          <label for="projeto_imagem">Imagem do Projeto</label>
          <input type="file" id="projeto_imagem" name="projeto_imagem" accept="image/*" class="admin-input">
        </div>
        <div class="admin-form-group">
          <label for="projeto_titulo">Título</label>
          <input type="text" id="projeto_titulo" name="projeto_titulo" placeholder="Digite o título do projeto"
            class="admin-input">
        </div>
        <div class="admin-form-group">
          <label for="projeto_descricao">Descrição</label>
          <textarea rows="3" id="projeto_descricao" name="projeto_descricao" placeholder="Descrição do projeto"
            class="admin-input"></textarea>
        </div>
        <div class="admin-form-group">
          <label for="projeto_autores">Autores</label>
          <input type="text" id="projeto_autores" name="projeto_autores" placeholder="Nome dos autores"
            class="admin-input">
        </div>
        <div class="admin-form-group">
          <label for="projeto_categoria">Categoria</label>
          <select id="projeto_categoria" name="projeto_categoria" class="admin-input">
            <option value="">Selecione a Categoria</option>
            <option value="patente">Patente</option>
            <option value="software">Software</option>
          </select>
        </div>
        <div class="admin-form-group">
          <label for="projeto_areas">Área do Conhecimento</label>
          <select id="projeto_areas" name="projeto_areas" class="admin-input" multiple>
            {% for categoria in categorias %}
            <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="admin-button">Cadastrar Projeto</button>
      </form>
    </div>

    <div class="admin-table-section">
      <h2 class="admin-h2">Projetos Cadastrados</h2>
      <table class="admin-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Categoria</th>
            <th>Autores</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for projeto in projetos %}
          <tr>
            <td data-label="Id">{{ projeto.id }}</td>
            <td data-label="Título">{{ projeto.titulo }}</td>
            <td data-label="Categoria">{{ projeto.categoria }}</td>
            <td data-label="Autores">{{ projeto.autores }}</td>
            <td data-label="Ações" class="admin-actions">
              <button class="admin-actions-button"
                onclick="openEditModalProjeto('{{ projeto.id }}', '{{ projeto.titulo }}', '{{ projeto.descricao }}', '{{ projeto.autores }}', '{{ projeto.categoria }}')">Editar</button>
              <button class="admin-actions-button"
                onclick="openDeleteModalProjeto('{{ projeto.id }}', '{{ projeto.titulo }}')">Excluir</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div id="categorias" class="admin-tab-content">
    <div class="admin-form-section">
      <h2 class="admin-h2">Cadastrar Categoria</h2>
      <form method="POST" action="{% url 'cadastrar_categoria' %}">
        {% csrf_token %}
        <div class="admin-form-group">
          <label for="categoria_nome">Nome da Categoria</label>
          <input type="text" id="categoria_nome" name="categoria_nome" placeholder="Digite o nome da categoria"
            class="admin-input">
        </div>
        <div class="admin-form-group">
          <label for="categoria_descricao">Descrição da categoria</label>
          <textarea id="categoria_descricao" name="categoria_descricao" placeholder="Digite a descrição da categoria"
            class="admin-input"></textarea>
        </div>
        <button type="submit" class="admin-button">Cadastrar Categoria</button>
      </form>
    </div>
    <div class="admin-table-section">
      <h2 class="admin-h2">Categorias Cadastradas</h2>
      <table class="admin-table">
        <thead>
          <tr>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for categoria in categorias %}
          <tr>
            <td data-label="Categoria">{{ categoria.nome }}</td>
            <td data-label="Descrição">{{ categoria.descricao }}</td>
            <td data-label="Ações" class="admin-actions">
              <button class="admin-actions-button"
                onclick="openEditModalCategoria('{{ categoria.id }}', '{{ categoria.nome }}', '{{ categoria.descricao }}')">Editar</button>
              <button class="admin-actions-button"
                onclick="openDeleteModalCategoria('{{ categoria.id }}', '{{ categoria.nome }}')">Excluir</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>



<!-- MODAL DE EDIÇÃO DE CATEGORIAS -->
<div id="modal_edit_categoria" class="modal">
  <div class="modal-content">
    <span class="close-button" onclick="closeModal('modal_edit_categoria')">&times;</span>
    <h2>Editar Categoria</h2>
    <form method="POST" action="{% url 'editar_categoria' %}">
      {% csrf_token %}
      <input type="hidden" id="categoria_id_edit" name="categoria_id" value="">
      <div class="modal-form-group">
        <label for="categoria_nome_edit">Nome da Categoria</label>
        <input type="text" id="categoria_nome_edit" name="categoria_nome" class="admin-input">
      </div>
      <div class="modal-form-group">
        <label for="categoria_descricao_edit">Descrição da categoria</label>
        <textarea id="categoria_descricao_edit" name="categoria_descricao" class="admin-input"></textarea>
      </div>
      <div class="modal-actions">
        <button type="submit" class="admin-button">Salvar alterações</button>
        <button type="button" class="admin-button delete-button"
          onclick="closeModal('modal_edit_categoria')">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<!-- MODAL DE EXCLUSÃO DE CATEGORIAS -->
<div id="modal_delete_categoria" class="modal">
  <div class="modal-content">
    <span class="close-button" onclick="closeModal('modal_delete_categoria')">&times;</span>
    <h2>Confirmar Exclusão</h2>
    <p id="delete_message_categoria"></p>
    <form method="POST" action="{% url 'excluir_categoria' %}">
      {% csrf_token %}
      <input id="categoria_id_delete" name="categoria_id" type="hidden" value="">
      <div class="modal-actions">
        <button type="submit" class="admin-button delete-button">Excluir</button>
        <button type="button" class="admin-button" onclick="closeModal('modal_delete_categoria')">Cancelar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'administrador/js/admin.js' %}"></script>
<script src="{% static 'administrador/js/modal_projetos.js' %}"></script>
<script src="{% static 'administrador/js/modal_categorias.js' %}"></script>
<script src="{% static 'js/open_tab.js' %}"></script>
{% endblock %}