{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}


{% block content %}
  <div class="container">
    {% include 'sidebar.html' %}
    <!-- Conteúdo principal -->
    <main class="content">
      <h2>Destaques</h2>
      <div class="grid-projects">
        {% for projeto in projetos %}
          <!-- Card exemplo -->
          <div class="card">
            <img src="{{ projeto.img.url }}" alt="Projeto 1">
            <div class="info">
              <h3>{{ projeto.nome }}</h3>
              <p>{{projeto.descricao }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </main>
  </div>

  <div class="see-more">
    <a href="{% url 'patentes' %}" class="btn-see-more">Todas as Patentes</a>
  </div>
{% endblock %}