{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'detalhes_projeto/css/detalhes_projeto.css' %}">
{% endblock %}
{% block content %}
<div class="projeto-container">
  <a href="#" class="btn-voltar" onclick="window.history.go(-1)">← Voltar</a>

  <h1 class="projeto-titulo">{{ projeto.titulo }}</h1>
  <p class="projeto-categoria">Categorias:
    {% for categoria in projeto.categorias.all %}
      <span>{{ categoria.nome }}</span>
    {% endfor %}
  </p>

  <div class="projeto-imagem">
    <img src="{{ projeto.imagem.url }}" alt="{{ projeto.nome }}">
  </div>

  <section class="projeto-section">
    <h2>Descrição</h2>
    <p>{{ projeto.descricao }}</p>
  </section>

  <section class="projeto-section">
    <h2>Ano de depósito</h2>
    <p>
      {{ projeto.ano_deposito }}
    </p>
  </section>

  <section class="gerar-certificado projeto-section">
    <button class="botao-certificado" onclick="mostrarModal()">Gerar Certificado</button>
    <div class="modal-certificado" id="modal_certificado" onclick="mostrarModal()">
      <iframe class="pdf-frame" src="{{ projeto.certificado.url }}#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0" type="application/pdf"></iframe>
    </div>
  </section>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'detalhes_projeto/js/detalhes_projeto.js' %}"></script>
{% endblock %}