{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'detalhes_projeto/css/detalhes_projeto.css' %}">
{% endblock %}
{% block content %}
<main class="projeto-container">
  <a href="#" class="btn-voltar" onclick="window.history.go(-1)">← Voltar</a>

  <h1 class="projeto-titulo">{{ projeto.titulo }}</h1>
  <p class="projeto-categoria">Categorias:
    {% for area_conhecimento in projeto.areas_conhecimento.all %}
      <span>{{ area_conhecimento.nome }}</span>
    {% endfor %}
  </p>

  <div class="projeto-imagem">
    <img src="{{ projeto.imagem.url }}" alt="{{ projeto.nome }}">
  </div>

  <section class="projeto-section">
    <h2>Descrição</h2>
    <p>{{ projeto.descricao }}</p>
  </section>

  <section class="projeto-section">
    <h2>Inventores</h2>
    <p>
      {{ projeto.autores }}
    </p>
  </section>
</main>
{% endblock %}