/* PROJETOS */
.projeto-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  color: #333;
  line-height: 1.7;
}

.btn-voltar {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 16px;
  background: #054911;
  color: #fff;
  border-radius: 6px;
  transition: background 0.3s;
}
.btn-voltar:hover {
  background: #168229;
}

.projeto-titulo {
  font-size: 28px;
  margin-bottom: 8px;
  color: #b8860b;
}

.projeto-categoria {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}
.projeto-categoria span {
  color: #054911;
  font-weight: 600;
  margin-right: 10px;
}

.projeto-imagem {
  text-align: center;
  margin: 20px 0 40px;
}
.projeto-imagem img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.projeto-section {
  margin-bottom: 10px;
}
.projeto-section h2 {
  font-size: 20px;
  color: #054911;
  margin-bottom: 10px;
}
.projeto-section p {
  font-size: 16px;
}

.gerar-certificado {
  position: relative;
  text-align: center;
  margin-top: 30px;
}

.botao-certificado {
  padding: 10px 20px;
  background-color: #168229;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
.modal-certificado{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pdf-frame {
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: none;
  min-width: 60%;
  height: 100%;
  transition: all 0.3s ease;
}