
<!-- Barra lateral -->
<aside class="sidebar">
  <div class="box">
    <h3>Pesquisar</h3>
    <input type="text" placeholder="Pesquisar por:">
  </div>

  <div class="box">
    <h3>Categorias</h3>
    <ul>
      <li><a href="#">Alimentos</a></li>
      <li><a href="#">Biologia</a></li>
      <li><a href="#">Biotecnologia</a></li>
      <li><a href="#">Energia</a></li>
      <li><a href="#">Engenharias</a></li>
      <li><a href="#">Nanotecnologia</a></li>
      <li><a href="#">Matemática</a></li>
      <li><a href="#">Física</a></li>
    </ul>
  </div>
</aside>