
<aside class="sidebar">
  <div class="box">
    <h3>Projetos</h3>
    <ul>
      <li><a href="{% url 'projetos' %}">Projetos</a></li>
      <li><a href="{% url 'cadastrar_projeto' %}" method="GET">Cadastrar Projeto</a></li>
    </ul>
  </div>

  <div class="box">
    <h3>Categorias</h3>
    <ul>
      <li><a href="{% url 'categorias' %}">Categorias</a></li>
      <li><a href="{% url 'cadastrar_categoria' %}" method="GET">Cadastrar Categoria</a></li>
    </ul>
  </div>
  <div class="box">
    <h3>Campus</h3>
    <ul>
      <li><a href="{% url 'campus' %}">Campus</a></li>
      <li><a href="{% url 'cadastrar_campus' %}" method="GET">Cadastrar Campus</a></li>
      <li><a href="{% url 'cadastrar_admin' %}" method="GET">Cadastrar Administrador</a></li>
    </ul>
  </div>
</aside>