<aside class="admin-sidebar">
  <a href="{% url 'projetos' %}"><button class="admin-sidebar-button" id="projetos">Projetos</button></a>
  <a href="{% url 'categorias' %}"><button class="admin-sidebar-button" id="categorias">Categorias</button></a>
  <a href="{% url 'cadastrar_projeto' %}" method="GET"><button class="admin-sidebar-button" id="cadastrar_projeto">Cadastrar Projeto</button></a>
  <a href="{% url 'cadastrar_categoria' %}" method="GET"><button class="admin-sidebar-button" id="cadastrar_categoria">Cadastrar Categoria</button></a>
  <a href="{% url 'cadastrar_admin' %}"><button class="admin-sidebar-button" id="cadastrar_admin">Cadastrar Administrador</button></a>
</aside>