{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'patentes/css/patentes.css' %}">
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    {% include 'sidebar.html' %}
    <main class="content">
      <h2>Todas as Patentes</h2>
      <div class="patent-list">
        {% for projeto in projetos %}
          <a href="{% url 'detalhes_projeto' projeto.id %}" class="patent-item">
            <img src="{{ projeto.imagem.url }}" alt="Imagem da patente">
            <div class="patent-info">
              <div class="tags-container">
                {% for area_conhecimento in projeto.areas_conhecimento.all %}
                  <span class="tags">{{ area_conhecimento.nome }}</span>
                {% endfor %}
                </div>
              <h3 class="patent-title">{{ projeto.titulo }}</h3>
            </div>
          </a>
        {% endfor %}
      </div>
    </main>
  </div>
{% endblock %}