{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'patentes/css/patentes.css' %}">
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

{% block content %}

  <div class="container">
    {% include 'sidebar.html' %}
    <div class="content">
      <h2>Todas as Patentes</h2>
      <div id="patent-list">
        {% for projeto in projetos %}
          <a href="{% url 'detalhes_projeto' projeto.id %}" class="patent-item">
            <img src="{{ projeto.imagem.url }}" alt="Imagem da patente">
            <div class="patent-info">
              <div class="tags-container">
                {% for categoria in projeto.categorias.all %}
                  <span class="tags">{{ categoria.nome }}</span>
                {% endfor %}
                </div>
              <h3 class="patent-title">{{ projeto.titulo }}</h3>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>


{% endblock %}
{% block script %}
<script src="{% static 'js/pesquisa.js' %}"></script>
<script src="{% static 'patentes/js/exibir_pesquisa.js' %}"></script>
{% endblock %}